altgraph==0.17.4
certifi==2024.12.14
charset-normalizer==3.4.1
contourpy==1.1.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
defusedxml==0.7.1
ffmpeg-python==0.2.0
fonttools==4.55.7
future==1.0.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
opencv-python
packaging==24.2
pillow==10.4.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
scipy==1.10.0
six==1.17.0
supervision==0.25.1
tqdm==4.67.1
ttkbootstrap==1.10.1
urllib3==2.2.3
zipp==3.20.2
