button {
  background-color: #b2b2b2;
  color: #000000;
  font: 20px "Comic Sans";
  padding-top: 0px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 32px;
}

entry {
  font: 20px "Comic Sans";
}

grid {
  background-color: #b2b2b2;
}

label {
    color: #FFFFFF;
}

window {
    background-color: #000000;
}

widget {
    background-color: transparent;
}

box#gui_overlay_stbox {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 25px;
}

box#gui_overlay_draw {
    background-color: transparent;
    color: #FFFFFF;
}

box#gui_overlay_exit {
    background-color: #000000;
}

drawing_area {
    background-color: #000000;
}

box#gui_main_stbox {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 25px;
}

box#gui_main_video {
    background-color: #000000;
}

box#gui_main_exit {
    background-color: #000000;
}

box#gui_main {
    background-color: #000000;
}

box#gui_overlay{
    background-color: transparent;
}
